
@use "../globals" as *;

	

#my_key{
	text-align: center;
	height: auto;
	padding: 12rem 0px;
	background-color: lightsteelblue;
	background-image: url("../images/img_key.png");
	background-position: center;
	color: white;
}

.test {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	background: #000;
}

$header_h:30px;
header {
	z-index: 100;
	position: fixed;
	height: $header_h;
	width: 100%;
	background-color: #6461ab;
}

nav {
	& #toggle-animation {
		position: absolute;
		position: fixed;
		top: 80px;
		right: 20px;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		
		& span:nth-child(1){
			display: block;
			margin: auto;
			width: 20px;
			height: 3px;
			background-color: black;
			margin: 5px auto;
		}
		& span:nth-child(2){
			display: block;
			margin: auto;
			width: 20px;
			height: 3px;
			background-color: black;
			margin-bottom: 5px;
		}
		& span:nth-child(3){
			display: block;
			margin: auto;
			width: 20px;
			height: 3px;
			background-color: black;
			margin-bottom: 5px;
		}
	}

	$apper_bg:rgb(28, 28, 37);
	$nav_fc:white;
	& .nav-apper {
		position: fixed;
		z-index: 99;
		background-color:$apper_bg;
		height: 100vh;
		width: 300px;
		color: $nav_fc;
		$edge_bg:rgb(52, 58, 67);
		$portrait_HW:118px;
		$img_mrgin_h:15px;
		& .self-portrait {
			height: $portrait_HW;
			width: $portrait_HW;
			border-radius: 50%;
			margin: calc(5px + $img_mrgin_h + $header_h) auto $img_mrgin_h auto;
			border: 8px solid $edge_bg;
			background-image: url("../images/img_key.png");
			background-position: center;
			}
		}

		& .icon_my_sns {
			& i.bi {
				margin: 0 2px 0 2px;
				border-radius: 50%;
				background-color: rgb(52, 58, 67);
				width: 38px;
				height: 38px;
				display: inline-block;
				cursor: pointer;
				transition: background-color 0.5s;
				
				&:hover {
					background-color: rgb(47, 62, 149);
				}
			}
	
			& .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
				transform: translateY(6px) !important;
				font-size: 15px;
			}
		}
		& .nav-container{
			margin: 0 25px 0 25px;
		}
		
		& .scroll_section{
			padding-left: 0;

			& li{
				margin-top: 30px;
				margin-bottom: 30px;
				list-style: none;

				& a {
					color:inherit;
					display: inline;
					padding: 0;
					&:hover{
						& span {
							color: white !important;
						}
						& .bi::before {
							color: rgb(77, 107, 255);
						}
					}
				}
				& span {
					color: rgb(167, 167, 167);
					position: absolute;
					left: 70px;
				}
				
			}

			
			& .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
				color: rgb(167, 167, 167);
				margin: 0 5px;
				font-size: 25px;
			}

		}
		
		
	}
	

// 小見出し
.smallーletters {
	margin-top: 50px;
	font-size: 36px;
	&::after {
		content: "";
		display: block;
		height: 15px;
		width: 50px;
		border-bottom: 3px solid blue;
	}
	
}

// 文字斜め
.rotate {
	font-style : italic;
}
#About {
	& .row{
		--bs-gutter-x: initial !important;
		& .image-container {
			display: inline-block;
  			overflow: hidden; 
  			aspect-ratio: 1 / 1;
			@include mq(md){
				height: 600px;
			}
			  @include mq(lg){
				height: 50% !important;
			}
		}
		@include mq(md){
			--bs-gutter-x: 1.5rem !important;
		}
	}
	   
	& .introduction-list{
		list-style: none;
		padding: 0;
		
		& i {
			margin: 0 10px;
			font-size: 15px;
			color: rgb(115, 166, 233);
		}

		& strong {
			margin-right:8px;
		}
		
		& .li {
			
			margin: 20px 0;
		}
	}
}


